<a href="/chairs">Return to home</a>

<p><b>id</b> <%= @chair.id %></p>
<p><b>color</b> <%= @chair.color %></p>
<p><b>chair_type</b> <%= @chair.chair_type %></p>
<p><b>price</b> <%= @chair.price %></p>
<p><b>image_url</b> <%= @chair.image_url %></p>

<img width="150px" src="<%= @chair.image_url %>">
